* {
    box-sizing: border-box;
}
:root {
--color-primary: #212121;
--color-secondary: #757575;
--color-brand: #2196F3;
--color-light: #FFF;
--color-bg-dark: #2F303A;
--color-logo: #000;
}

body {
    font-family: Roboto,sans-serif;
    font-size: 14px;
    font-weight: 400;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
}
img {
    display: block;
}
a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.container {
    width: 1200px;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
}
.section {
   
    padding-top: 94px;
    padding-bottom: 94px;
}

/* Header setion*/
.header-container {
    display: flex;
    align-items: center;
}
.header-navigation {
    display: flex;
    align-items: center;
}
.header-list {
    display: flex;
}
.header-logo {
    font-family: Raleway,sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.17;
    color: var(--color-logo); 
    margin-right: 93px;
}
.header-logo .accent {
    color: var(--color-brand);
}
.navigation-item {
    margin-right: 50px;
    
}
.navigation-item:last-child {
    margin-right: 0;
}
.header-link {
    
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
}
.header-link {
    font-weight: 500;
    line-height: 1.17;
    color: var(--color-primary);
}
.header-link:hover,
 .header-link:focus {
    position: relative;
    color: var(--color-brand);
}
.header-link:hover::after{
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 2px;
        background-color: var(--color-brand);
        left: 0;
        bottom: 0;
}
.header-group {
    display: flex;
    align-items: center;
margin-left: auto;
gap: 40px;

}
.contacts-link {
    display: flex;
    align-items: center;
    font-weight: 500;
        line-height: 1.17;
    color: var(--color-secondary);
}
.heder-icons {
    fill: currentColor;
    margin-right: 10px;
}
.contacts-link:hover {
color: var(--color-brand);
}

/** hero-section*/

.hero-container { 
     /* height: 600px;  */
 padding-top: 200px; 
     padding-bottom: 200px; 
    background-color: rgba(47, 48, 58, 0.4);
    background-image: url(../images/overlay.jpg);
    background-position: center;
    
}
.hero-title {
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
text-transform: uppercase;
margin: 0 auto;
    color: var(--color-light);
    width: 700px;
    height: 120px;
}
.hero-button {
    display: block;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    text-align: center;
    background-color: var(--color-brand) ;
    color: var(--color-light);
    transition-property: backround-color;
    transition-duration: 250s;
    transition-timing-function: (0.4, 0, 0.2, 1);
    border: none;
   width: 200px;
   height: 50px;
   margin-top: 30px;
   margin-left: auto;
   margin-right: auto;
}
.hero-button:hover,
.hero-button:focus {
background-color: rgb(57, 138, 201);
}
.backgrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.3);
    
}
.backgrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.modal-wrapper {
    
  z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 528px;
    height: 581px;
    background-color: #fff;
    border-radius: 4px;
}
.modal-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid rgba(0,0,0, 0.1);
    border-radius: 50%;
   
}
.modal-form {
    margin: 40px;
}
.modal-title {
   padding-left: 20px;
   margin-bottom: 12px;
}
label {
   display: flex;
flex-direction: column;
        margin-bottom: 10px;
} 
input {
    padding: 8px;
        font-family: inherit;
        font-size: inherit;
}
textarea {
    resize: none;
}
.aggree-box {
    display: flex;
    align-items: center;
    gap: 8px;
}

 



/*  секція особливості*/

.list-features {
    display: flex;
    justify-content: center;
    gap: 30px;
}
.container-svg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 120px;
    background-color: #f5f4fa;
}
.features-title {
    padding-top: 30px;
    padding-bottom: 10px;
}
.features-svg {
    fill: #000;
}

/*benefit-section*/

.benefit-container {
    padding-top: 94px;
    padding-bottom: 94px;
}
.benefit-list {
    display: flex;
    gap: 30px;
}
.benefit-title {
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.benefit-text {
    font-size: 14px;
    line-height: 1.7;
    color: var(--color-secondary);
}


/** --Секція галерея--*/

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
   margin-bottom: 50px;
}
.list-img {
    display: flex;
gap: 30px;

}
.item-img {
     position: relative; 
    z-index: -1;
flex-basis: calc((100% - 60px) / 3);
}
.text-img {
    position: absolute;
    bottom: 0;
    left: 0;
        display: block;
        width: 100%;
        height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    padding: 27px 107px;
    font-family: Roboto;
        font-size: 14px;
        font-weight: 700px;
        Line-height: 21px;
        color: var(--color-light);

}

/*Team section*/

.team-container {
    background-color: rgba(245,244,250,1);
}

.team-list {
    display: flex;
}
.team-item {
    margin-right: 30px;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.12),0px 1px 1px rgba(0,0,0,0.14),
    0px 2px 1px rgba(0,0,0,0.2);
}
.team-item :last-child {
    margin-right: 0;
}
.person-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.17;
}
.ihor {
    margin: 30px 70px 10px;
} 
.olga {
    margin: 30px 83px 10px;
}
.mykola {
    margin: 30px 70px 10px;
}
.mykhailo {
    margin: 30px 62px 10px;
}
.designer {
    margin: 0 70px 30px;
}
.frontend {
    margin: 0 61px 30px;
}
.marketing {
    margin: 0 97px 30px;
}
.designerr {
    margin: 0 92px 30px;
}
.person-job {
    font-size: 16px;
        line-height: 1.17;
    color: var(--color-secondary);
}
.social-list {
    display: flex;
    justify-content: center;
    align-items: center;
}
.socials-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color:#FFF ;
    border-radius: 50%;
}
.social-item {
    margin-right: 10px;
    margin-bottom: 30px;
}
.social-item:last-child {
    margin-right: 0;
}
.socials-icons {
    fill: #afb1bb;
}
.socials-link:hover .socials-icons, 
 .socials-link:focus .socials-icons {
    fill: #FFF;
}
.socials-link:hover,
 .socials-link:focus {
    background:#2196F3 ;
}

/* Постійні клієнти*/

.clients-list {
    display: flex;
}
.clients-link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    border: 1px solid var(--color-secondary);
        border-radius: 4px;
        width: 170px;
        height: 90px;
        margin-right: 30px;
}
.clients-link :last-child {
    margin-right: 0;
}
.clients-svg {
    fill: var(--color-secondary)  ;
}
.clients-link:hover,
.clients-link:focus  {
    border-color: #2196F3;
}
.clients-link:hover .clients-svg,
.clients-link:focus .clients-svg {
    fill: #2196F3;
}

/* Footer*/

.footer-container {
    display: flex;
    align-items: baseline;
    height: 250px;
background-color: var(--color-bg-dark);
}

.footer-logo {
    display: block;
    padding-top: 60px;
    padding-bottom: 30px;
    font-family: Raleway, sans-serif;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.17;
color: var(--color-light);
}
.footer-logo .accent {
   color: var(--color-brand);
}
.address {
    font-style: normal;
}
.footer-list {
    margin-bottom: 12px;
}
.address-link {
color: var(--color-light);
}
.footer-link {
color: #FFFFFF99;
}
.ellipse-container {
    padding-left: 94px;
}

.ellipse-title {
color: var(--color-light);
    Line-height: 16.41px;
    width: 700px;
    font-family: Roboto;
    margin-bottom: 20px;
}

.ellipse-list {
    display: flex;
}
.ellipse-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color:#757575;
    border-radius: 50%;
}

.ellipse-item {
    margin-right: 10px;
    
}

.ellipse-item:last-child {
    margin-right: 0;
}

.ellipse-icons {
    fill: #FFF;
}

.ellipse-link:hover .socials-icons,
.ellipse-link:focus .socials-icons {
    fill:  var(--color-brand);
}

.ellipse-link:hover,
.ellipse-link:focus {
    background: #2196F3;
}


/* portfolio*/

.portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
}
.portfolio-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-bottom: 55px;
}
.portfolio-item {
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
}

.filter-btn {
    padding: 6px 22px;
    border: none;
    border-color:  rgb(152, 152, 152);
    border-radius: 6px;
    cursor: pointer;
}
.filter-btn:hover, 
 .filter-btn:focus {
    background-color: var(--color-brand);
}
.container .list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.portfolio-job {
    padding: 20px 24px 4px;
}
.portfolio-name {
    padding: 0 24px 20px;
}